.cardCart {
    display: flex;
    margin: 1% 35% 1% 1%;
    border: black 1px solid;
}

.imgCardCart {
    width: 200px;
    height: 150px;
}

.textCardCart {
    padding: 50px 10px;
}

.buttonCardCart {
    margin-left: 10px;
}

.totalPrice {
    margin: 1% 35% 1% 1%;
}